#root {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
   
}

#main {
    width: 70%;
   
}


.navbar-brand{
    font-size: 2em;
    font-weight: 600;
}

#photo{
    width: 20%;
}
