#root {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
   
}

#main {
    width: 50%;
   
}


.navbar-brand{
    font-size: 2em;
    font-weight: 600;
}

#photo{
    width: 20%;
}

#menudiv{
    display: flex;
    gap: 20px;
}

#setdiv{
    display: flex;
    flex-direction: column;
    padding: 80px;
    gap: 20px;
}